
body{
    width: 100%;
    background: linear-gradient(to right, #316C40, #294E28);
}

header{
    flex: 1; 
}

li{
    position: relative;
    display: inline;
    padding: 20px;
    margin-left: 20px;
    left: 10%;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

li:hover{
    opacity: 0.2;
}

.btn-sign-up{
    position: absolute;
    transform: translate(1200%, -250%);
}

.btn-sign-in{
    transform: translate(1420%, -250%);
}

#services{
    scroll-margin-top: -80vh;
}

#footer{
    scroll-margin-top: -200vh;
}

.btn-log-out{
   transform: translate(1300%, -250%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    display: table-row;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.hamburger {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 25px;
    transform: translate(35%, -40%);
}

.hamburger:focus {
    outline: none !important;
    box-shadow: none !important;
}

.line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
}

@media screen and (min-width:376px) and (max-width: 480px){
    .hamburger {
        display: flex;
    }

    .nav-links {
        flex-direction: row;
        position: absolute;
        width: 100%;
        height: 39px;
        background: linear-gradient(to right, #294E28, #316C40);
        overflow: hidden;
        border-radius: 0px 0px 10px 10px;
        max-height: 0;
        transition: max-height 0.4s ease-in-out;
        z-index: 10;
    }

    .nav-links ul {
        padding: 0;
        margin: 0;
    }

    .nav-links.open {
        max-height: 300px;
    }

    li {
        padding: 20px 0;
        font-size: 1.1em;
        text-align: center;
        margin-left: 20px;
        left: 0%;
    }

    .line1.activate {
        transform: rotate(45deg) translate(2%, 135%);
    }

    .line2.activate {
        transform: rotate(-45deg) translate(7%, -195%);
    }

    .line3.activate {
        opacity: 0;
    }

    .btn-sign-in{
        transform: translate(285%, -10%);
    }

    .btn-sign-up{
        transform: translate(360%, -10%);
    }

    .btn-log-out{
        transform: translate(370%, -10%);
    }
}

@media screen and (max-width: 375px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        flex-direction: row;
        position: absolute;
        width: 100%;
        height: 39px;
        background: linear-gradient(to right, #294E28, #316C40);
        overflow: hidden;
        border-radius: 0px 0px 10px 10px;
        max-height: 0;
        transition: max-height 0.4s ease-in-out;
        z-index: 10;
    }

    .nav-links ul {
        padding: 0;
        margin: 0;
    }

    .nav-links.open {
        max-height: 300px;
    }

    li {
        padding: 20px 0;
        font-size: 0.8em;
        text-align: center;
        margin-left: 20px;
        left: 0%;
    }

    .line1.activate {
        transform: rotate(45deg) translate(2%, 135%);
    }

    .line2.activate {
        transform: rotate(-45deg) translate(7%, -195%);
    }

    .line3.activate {
        opacity: 0;
    }

    .btn-sign-in{
        transform: translate(185%, -10%);
    }

    .btn-sign-up{
        transform: translate(270%, -10%);
    }

    .btn-log-out{
        transform: translate(300%, -10%);
    }
}


@media screen and (min-width: 481px) and (max-width: 580px) {
    li {
        padding: 20px 0;
        font-size: 0.8em;
        text-align: center;
        left: -15%;
    }

    .btn-sign-in{
        font-weight: 500;
        font-size: 0.4em;
        transform: translate(540%, -300%);
    }

    .btn-sign-up{
        font-size: 0.4em;
        transform: translate(405%, -300%);
    }

    .btn-log-out{
        font-size: 0.4em;
        transform: translate(450%, -300%);
    }

}

@media screen and (min-width: 581px) and (max-width:680px) {
    li {
        padding: 20px 0;
        font-size: 0.9em;
        text-align: center;
        left: -15%;
    }

    .btn-sign-in{
        font-weight: 500;
        font-size: 0.4em;
        transform: translate(670%, -300%);
    }

    .btn-sign-up{
        font-size: 0.4em;
        transform: translate(525%, -300%);
    }

    .btn-log-out{
        font-size: 0.4em;
        transform: translate(450%, -300%);
    }
}

@media (min-width: 681px) and (max-width: 780px) {
    li {
        padding: 20px 0;
        font-size: 1.2em;
        text-align: center;
        left: -12%;
    }

    .btn-sign-in{
        font-weight: 500;
        font-size: 1em;
        transform: translate(600%, -250%);
    }

    .btn-sign-up{
        font-size: 1em;
        transform: translate(450%, -250%);
    }

    .btn-log-out{
        font-size: 1em;
        transform: translate(550%, -250%);
    }
}

@media (min-width: 781px) and (max-width: 880px) {
    li {
        padding: 20px 0;
        font-size: 1.6em;
        text-align: center;
        left: -5%;
    }

    .btn-sign-in{
        font-weight: 500;
        font-size: 1em;
        transform: translate(710%, -270%);
    }

    .btn-sign-up{
        font-size: 1em;
        transform: translate(550%, -270%);
    }

    .btn-log-out{
        font-size: 1em;
        transform: translate(600%, -270%);
    }
}

@media (min-width: 880px) and (max-width: 980px)  {

}

@media (min-width: 980px) and (max-width: 1024px)  {

}

@media screen and (min-width: 1025px) and (max-width: 1366px){
    
}

