
body{
    width: 100%;
    background: linear-gradient(to right, #316C40, #294E28);
}

li{
    position: relative;
    display: inline;
    padding: 20px;
    margin-left: 20px;
    left: 10%;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

li:hover{
    opacity: 0.2;
}

.btn-sign-up{
    position: absolute;
    transform: translate(1200%, -250%);
}

.btn-sign-in{
    transform: translate(1420%, -250%);
}

#services{
    scroll-margin-top: -80vh;
}

#footer{
    scroll-margin-top: -200vh;
}

.btn-hire-me1{
   transform: translate(1300%, -250%);
}