
.freelancelinks p{
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: #e2f87b;
}

.btn-hire-me{
    position: relative;
    font-size: 2em;
    padding: 20px 40px;
    transform: translate(280%, -60%);
}

.btn-contact-me{
    position: relative;
    font-size: 2em;
    padding: 20px 40px;
    transform: translate(-100%, -60%);
}