
.Herosection img{
    position: relative;
    width: 50%;
    left: 5%;
    border-radius: 20px;
}

.Herosection h1{
    position: absolute;
    transform: translate(200%, -680%); 
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
}

.Herosection p{
    position: absolute;
    font-size: 1em;
    display: flexbox;
    color: #fdfff6;
    font-family: 'Courier New', Courier, monospace;
    left: 58%;
    right: 5%;
    top: 300px;
}

@media screen and (min-width:376px) and (max-width: 480px) {
    .Herosection h1 {
        font-size: 1.1em;
        transform: translate(220%, -700%);
    }

    .Herosection p {
        font-size: 0.8em;
        left: 5%;
        right: 5%;
        top: 210px;
    }
    
}

@media screen and (max-width: 375px) {
    .Herosection h1 {
        font-size: 0.8em;
        transform: translate(250%, -800%);
    }
    
    .Herosection p {
        font-size: 0.5em;
        left: 5%;
        right: 5%;
        top: 220px;
    }
    
}


@media screen and (min-width: 481px) and (max-width: 580px) {
   .Herosection h1 {
        font-size: 1em;
        transform: translate(320%, -1400%);
    }

    .Herosection img {
        top: -80px;
    }
    
    .Herosection p {
        font-size: 0.8em;
        left: 5%;
        right: 5%;
        top: 300px;
    }
}

@media screen and (min-width: 581px) and (max-width:680px) {
    .Herosection h1 {
        font-size: 1.15em;
        transform: translate(320%, -1400%);
    }

    .Herosection img {
        top: -80px;
    }
    
    .Herosection p {
        font-size: 0.8em;
        left: 5%;
        right: 5%;
        top: 320px;
    }
}

@media (min-width: 681px) and (max-width: 780px) {
    .Herosection h1 {
        font-size: 1.5em;
        transform: translate(300%, -1200%);
    }

    .Herosection img {
        top: -80px;
    }
    
    .Herosection p {
        font-size: 0.8em;
        left: 5%;
        right: 5%;
        top: 360px;
    }
}

@media (min-width: 781px) and (max-width: 880px) {
    .Herosection h1 {
        font-size: 2.8em;
        transform: translate(165%, -700%);
    }

    .Herosection img {
        top: -80px;
    }
    
    .Herosection p {
        font-size: 0.8em;
        left: 5%;
        right: 5%;
        top: 400px;
    }
}

@media (min-width: 880px) and (max-width: 980px)  {
    .Herosection h1 {
        font-size: 3em;
        transform: translate(550px, -425px);
    }

    .Herosection img {
        top: -80px;
    }
    
    .Herosection p {
        font-size: 0.8em;
        left: 57%;
        right: 5%;
        top: 175px;
    }
}

@media (min-width: 980px) and (max-width: 1080px)  {
    .Herosection h1 {
        font-size: 3em;
        transform: translate(600px, -460px);
    }

    .Herosection img {
        top: -80px;
    }
    
    .Herosection p {
        font-size: 0.8em;
        left: 57%;
        right: 5%;
        top: 175px;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1180px){
    .Herosection h1 {
        font-size: 3em;
        transform: translate(650px, -490px);
    }

    .Herosection img {
        top: -80px;
    }
    
    .Herosection p {
        font-size: 0.8em;
        left: 57%;
        right: 5%;
        top: 175px;
    }
}

@media screen and (min-width: 1181px) and (max-width: 1280px){
    .Herosection h1 {
        font-size: 3em;
        transform: translate(720px, -530px);
    }

    .Herosection img {
        top: -80px;
    }
    
    .Herosection p {
        font-size: 0.8em;
        left: 57%;
        right: 5%;
        top: 175px;
    } 
}

@media screen and (min-width: 1281px) and (max-width: 1370px) {
    .Herosection h1 {
        font-size: 3.5em;
        transform: translate(780px, -480px);
    }
}
