
.Herosection img{
    position: relative;
    width: 50%;
    left: 5%;
    border-radius: 20px;
}

.Herosection h1{
    position: absolute;
    transform: translate(200%, -680%); 
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
}

.Herosection p{
    position: absolute;
    font-size: 1em;
    display: flexbox;
    color: #fdfff6;
    font-family: 'Courier New', Courier, monospace;
    left: 58%;
    right: 5%;
    bottom: -20%;
}

@media screen and (min-width:376px) and (max-width: 480px) {
    .Herosection h1 {
        font-size: 1.4em;
        transform: translate(160%, -550%);
    }
    
    .Herosection p {
        font-size: 0.8em;
        left: 5%;
        right: 5%;
        top: 220px;
    }
    
}

@media screen and (max-width: 375px) {
    .Herosection h1 {
        font-size: 0.8em;
        transform: translate(250%, -800%);
    }
    
    .Herosection p {
        font-size: 0.5em;
        left: 5%;
        right: 5%;
        top: 220px;
    }
    
}