
.backend-section, .fullstack-section , .frontend-section {
    position: relative;
    transform: translate(0%, 320%);
    margin-left: 3%;
    color: #fff;
	z-index: 10;
}

.prev-btn, .next-btn{
    position: absolute;
    background-color: #031a09;
    color: #fdfff6;
    font-size: 2em;
    border: none;
    padding: 15px 25px 15px 25px;
    border-radius: 400px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.prev-btn{
    left: 39%;
}

.next-btn{
    left: 47%;
}

.prev-btn:hover, .next-btn:hover {
    opacity: 0.5;
}

.section-padding {
    padding: 20px 0;
}

.carousel {
    width: 90%;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    gap: 20px;
    white-space: nowrap;
    padding-bottom: 10px;
    -webkit-overflow-scrolling: touch;
	z-index: 20;
}

.carousel::-webkit-scrollbar {
    display: none; 
}

.carousel > .project-card{
    scroll-snap-align: center;
}

.project-card {
    width: 300px;
    border: 1px solid #ddd;
    background-color: #031a09;
    border-radius: 10px;
    padding: 10px;
    scroll-snap-align: start;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
}

.project-image {
    width: 100%;
    height: 65%;
    border-radius: 15px;
    display: block;
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #fdfff6;
    font-family: 'Poppins', sans-serif;
}

.project-description {
    font-size: 0.65em;
    font-weight: 400;
    margin-bottom: 15px;
    color: #316c40;
    font-family: 'Poppins', sans-serif;
}

.project-link {
    font-weight: 600;
    color: #fdfff6;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.project-link:hover {
    color: #e2f87b;
}

.error-section {
    padding: 40px;
    text-align: center;
    font-size: 1.5rem;
    color: red;
}

@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

.errorh {
	font-family: 'Cabin Sketch', cursive;
	font-size: 3em;
	text-align: center;
	opacity: .8;
	order: 1;
}

.errorh small {
	display: block;
}

.site {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
    align-items: center;
	flex-direction: column;
	margin: 0 auto;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
    transform: translateY(280%);
}


.sketch {
	position: relative;
	height: 400px;
	min-width: 400px;
	margin: 0;
	overflow: visible;
	order: 2;
	
}

.bee-sketch {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.red {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-1.png) no-repeat center center;
	opacity: 1;
	animation: red 3s linear infinite, opacityRed 5s linear alternate infinite;
}

.blue {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-1.png) no-repeat center center;
	opacity: 0;
	animation: blue 3s linear infinite, opacityBlue 5s linear alternate infinite;
}


@media only screen and (min-width: 780px) {
  .site {
		flex-direction: row;
		padding: 1em 2em 1em 0em;
	}
	
	.errorh {
		text-align: right;
		order: 2;
		padding-bottom: 2em;
		padding-left: 2em;

	}
	
	.sketch {
		order: 1;
	}
}


@keyframes blue {
	0% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-1.png) 
  }
	9.09% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-2.png) 
  }
	27.27% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-3.png) 
  }
	36.36% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-4.png) 
  }
	45.45% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-5.png) 
  }
	54.54% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-6.png) 
  }
	63.63% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-7.png) 
  }
	72.72% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-8.png) 
  }
	81.81% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-9.png) 
  }
	100% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-1.png) 
  }
}

@keyframes red {
	0% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-1.png) 
  }
	9.09% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-2.png) 
  }
	27.27% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-3.png) 
  }
	36.36% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-4.png) 
  }
	45.45% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-5.png) 
  }
	54.54% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-6.png) 
  }
	63.63% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-7.png) 
  }
	72.72% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-8.png) 
  }
	81.81% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-9.png) 
  }
	100% {
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-1.png) 
  }
}

@keyframes opacityBlue {
	from {
		opacity: 0
	}
	25% {
		opacity: 0
	}
	75% {
		opacity: 1
	}
	to {
		opacity: 1
	}
}

@keyframes opacityRed {
	from {
		opacity: 1
	}
	25% {
		opacity: 1
	}
	75% {
		opacity: .3
	}
	to {
		opacity: .3
	}
}



@media screen and (min-width: 321px) and (max-width: 480px) {
	.frontend-section, .backend-section, .fullstack-section {
		position: relative;
		transform: none;
		top: 1350px;
	}

	.project-title{
		font-size: 1rem;
	}

	.project-description {
		font-size: 0.6rem;
	}

	.project-card {
		width: 80%;
	}

	.prev-btn{
		left: 80px;
	}

	.site{
		transform: translateY(1400px);
	}

	.errorh {
		font-size: 1.8em;
	}

	.sketch {
		min-width: 300px;
	}
	
}

@media screen and (max-width: 320px) {
	.frontend-section, .backend-section, .fullstack-section {
		position: relative;
		transform: none;
		top: 1200px;
	}

	.project-title{
		font-size: 0.9rem;
	}

	.project-description {
		font-size: 0.5rem;
	}

	.project-card {
		width: 80%;
	}

	.prev-btn{
		left: 70px;
	}

	.site{
		transform: translateY(1200px);
	}

	.errorh {
		font-size: 1.5em;
	}

	.sketch {
		min-width: 300px;
	}
	
}

@media screen and (min-width: 481px) and (max-width: 580px) {
	.frontend-section, .backend-section, .fullstack-section {
		position: relative;
		transform: none;
		top: 1250px;
		margin-left: 50px;
	}

	.project-title{
		font-size: 1rem;
	}

	.project-description {
		font-size: 0.6rem;
	}

	.project-card {
		width: 90%;
	}

	.prev-btn{
		left: 120px;
	}

	.next-btn{
		left: 200px;
	}

	.site{
		transform: translateY(1500px);
	}

	.errorh {
		transform: translate(0px, -210px);
		font-size: 2em;
	}

	.sketch {
		top: -200px;
		min-width: 360px;
	}
}

@media screen and (min-width: 581px) and (max-width:680px) {
	.frontend-section, .backend-section, .fullstack-section {
		position: relative;
		transform: none;
		top: 1250px;
		margin-left: 50px;
	}

	.project-title{
		font-size: 1rem;
	}

	.project-description {
		font-size: 0.6rem;
	}

	.project-card {
		width: 90%;
	}

	.prev-btn{
		left: 220px;
	}

	.next-btn{
		left: 300px;
	}

	.site{
		transform: translateY(1500px);
	}

	.errorh {
		transform: translate(0px, -210px);
		font-size: 2em;
	}

	.sketch {
		top: -200px;
		min-width: 360px;
	}
}

@media screen and (min-width: 581px) and (max-width:680px) {
	.frontend-section, .backend-section, .fullstack-section {
		position: relative;
		transform: none;
		top: 1250px;
		margin-left: 50px;
	}

	.project-title{
		font-size: 1rem;
	}

	.project-description {
		font-size: 0.6rem;
	}

	.project-card {
		width: 90%;
	}

	.prev-btn{
		left: 190px;
	}

	.next-btn{
		left: 260px;
	}

	.site{
		transform: translateY(1500px);
	}

	.errorh {
		transform: translate(0px, -210px);
		font-size: 2em;
	}

	.sketch {
		top: -200px;
		min-width: 360px;
	}
}


@media (min-width: 681px) and (max-width: 780px) {
	.frontend-section, .backend-section, .fullstack-section {
		position: relative;
		transform: none;
		top: 1250px;
		margin-left: 50px;
	}

	.project-title{
		font-size: 1rem;
	}

	.project-description {
		font-size: 0.6rem;
	}

	.project-card {
		width: 90%;
	}

	.prev-btn{
		left: 180px;
	}

	.next-btn{
		left: 280px;
	}

	.site{
		transform: translateY(1500px);
	}

	.errorh {
		transform: translate(0px, -210px);
		font-size: 2em;
	}

	.sketch {
		top: -200px;
		min-width: 360px;
	}
}

@media (min-width: 781px) and (max-width: 880px) {
	.frontend-section, .backend-section, .fullstack-section {
		position: relative;
		transform: none;
		top: 1250px;
		margin-left: 50px;
	}

	.project-title{
		font-size: 1rem;
	}

	.project-description {
		font-size: 0.6rem;
	}

	.project-card {
		width: 90%;
	}

	.prev-btn{
		left: 250px;
	}

	.next-btn{
		left: 330px;
	}

	.site{
		transform: translateY(1500px);
	}

	.errorh {
		transform: translate(0px, -210px);
		font-size: 2em;
	}

	.sketch {
		top: -200px;
		min-width: 360px;
	}
}

@media (min-width: 880px) and (max-width: 980px)  {

}

@media (min-width: 980px) and (max-width: 1024px)  {

}

@media screen and (min-width: 1025px) and (max-width: 1366px){
    
}