
section{
    position: absolute;
    display: inline-flex;
    font-size: 2em;
    color: #fdfff6;
    transform: translate(20%, 3000%);
    cursor: pointer;
}

section.frontend{
    transform: translate(20%, 3000%);
}

section.backend{
    transform: translate(140%, 3000%);
}

section.fullstack{
    transform: translate(240%, 3000%);
}

section.webdesign{
    transform: translate(330%, 3000%);
}

section.active{
    color: #e2f87b;
    text-decoration: underline;
}


@media screen and (min-width: 376px) and (max-width: 480px) {
    section.frontend,
    section.backend,
    section.fullstack,
    section.webdesign {
        font-size: 0.6em;
    }

    section.frontend{
        transform: translate(10px, 1300px);
    }

    section.backend{
        transform: translate(97px, 1300px);
    }

    section.fullstack{
        transform: translate(185px, 1300px);
    }

    section.webdesign{
        transform: translate(275px, 1300px);
    }

}
@media screen and (min-width: 321px) and (max-width: 375px) {
    section.frontend,
    section.backend,
    section.fullstack,
    section.webdesign {
        font-size: 0.1em;
    }

    section.frontend{
        transform: translate(10px, 1300px);
    }

    section.backend{
        transform: translate(85px, 1300px);
    }

    section.fullstack{
        transform: translate(160px, 1300px);
    }

    section.webdesign{
        transform: translate(240px, 1300px);
    }
}

@media screen and (max-width: 320px) {
    section.frontend,
    section.backend,
    section.fullstack,
    section.webdesign {
        font-size: 0.5em;
        top: 120px;
    }

    section.frontend{
        transform: translate(0px, 1300px);
    }

    section.backend{
        transform: translate(73px, 1300px);
    }

    section.fullstack{
        transform: translate(144px, 1300px);
    }

    section.webdesign{
        transform: translate(220px, 1300px);
    }
}

@media screen and (min-width: 481px) and (max-width: 580px) {
    section.frontend,
    section.backend,
    section.fullstack,
    section.webdesign {
        font-size: 0.8em;
        top: 460px;
        position: absolute;
    }

    section.frontend{
        transform: translate(10px, 1300px);
    }

    section.backend{
        transform: translate(120px, 1300px);
    }

    section.fullstack{
        transform: translate(225px, 1300px);
    }

    section.webdesign{
        transform: translate(345px, 1300px);
    }    
}

@media screen and (min-width: 581px) and (max-width:680px) {
    section.frontend,
    section.backend,
    section.fullstack,
    section.webdesign {
        font-size: 1em;
        top: 460px;
        position: absolute;
    }

    section.frontend{
        transform: translate(10px, 1300px);
    }

    section.backend{
        transform: translate(150px, 1300px);
    }

    section.fullstack{
        transform: translate(295px, 1300px);
    }

    section.webdesign{
        transform: translate(445px, 1300px);
    } 
}


@media (min-width: 681px) and (max-width: 780px) {
    section.frontend,
    section.backend,
    section.fullstack,
    section.webdesign {
        font-size: 1.2em;
        top: 520px;
        position: absolute;
    }

    section.frontend{
        transform: translate(10px, 1300px);
    }

    section.backend{
        transform: translate(170px, 1300px);
    }

    section.fullstack{
        transform: translate(325px, 1300px);
    }

    section.webdesign{
        transform: translate(490px, 1300px);
    } 
}

@media (min-width: 781px) and (max-width: 880px) {
    section.frontend,
    section.backend,
    section.fullstack,
    section.webdesign {
        font-size: 1.4em;
        top: 550px;
        position: absolute;
    }

    section.frontend{
        transform: translate(10px, 1300px);
    }

    section.backend{
        transform: translate(200px, 1300px);
    }

    section.fullstack{
        transform: translate(375px, 1300px);
    }

    section.webdesign{
        transform: translate(560px, 1300px);
    } 
}

@media (min-width: 880px) and (max-width: 980px)  {
    section.frontend,
    section.backend,
    section.fullstack,
    section.webdesign {
        font-size: 1.6em;
        top: 600px;
        position: absolute;
    }

    section.frontend{
        transform: translate(10px, 1300px);
    }

    section.backend{
        transform: translate(227px, 1300px);
    }

    section.fullstack{
        transform: translate(445px, 1300px);
    }

    section.webdesign{
        transform: translate(665px, 1300px);
    } 
}

@media (min-width: 980px) and (max-width: 1080px)  {
    section.frontend,
    section.backend,
    section.fullstack,
    section.webdesign {
        font-size: 1.8em;
        top: 600px;
        position: absolute;
    }

    section.frontend{
        transform: translate(10px, 1300px);
    }

    section.backend{
        transform: translate(250px, 1300px);
    }

    section.fullstack{
        transform: translate(490px, 1300px);
    }

    section.webdesign{
        transform: translate(740px, 1300px);
    } 
}

@media screen and (min-width: 1081px) and (max-width: 1180px){
    section.frontend,
    section.backend,
    section.fullstack,
    section.webdesign {
        font-size: 1.8em;
        top: 900px;
        position: absolute;
    }
}
