
.github1{
    width: 50px;
    cursor: pointer;
    transform: translate(50%, -80%);
    transition: 0.5s ease-in-out;
}

.inst1{
    width: 50px;
    cursor: pointer;
    transform: translate(20%, -80%);
    transition: 0.5s ease-in-out;
}

.tkt{
    width: 85px;
    cursor: pointer;
    transform: translate(20%, -25%);
    transition: 0.5s ease-in-out;
}

.youtube1{
    width: 50px;
    cursor: pointer;
    transform: translate(30%, -130%);
    transition: 0.5s ease-in-out;
}

.github1:hover, .inst1:hover, .tkt:hover, .youtube1:hover{
    opacity: 0.5;
}

.freelancelinks p{
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: #e2f87b;
}

.btn-hire-me{
    position: relative;
    font-size: 2em;
    padding: 20px 40px;
    transform: translate(150%, -170%);
}
